# Ignore the .git folder
.git/

# Ignore the Dockerfile (if you want it to not be included in the context)
Dockerfile

# Ignore node_modules (if you are using Node.js)
node_modules/

# Ignore log files
*.log

# Ignore .env files (important for environment secrets)
.env
